<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base-Url</key>
	<string>https://mdiscourse.keepcoding.io</string>
	<key>Api-Username</key>
	<string>che1404</string>
	<key>Api-Key</key>
	<string>699667f923e65fac39b632b0d9b2db0d9ee40f9da15480ad5a4bcb3c1b095b7a</string>
</dict>
</plist>
